
<!--ko if: viewdetail-->

<div class="modal-dialog location-detail" data-bind="with: selectedItem">

        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="" data-bind="click: $parent.onClose">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" data-bind="attr: { 'class': 'color-level-'+ $data.level.replace(' ', '').toLowerCase()}">

                        Critical Map
                    </h4>
                </a>
            </div>
            <div class="modal-body">
                <h4 class="modal-title" data-bind="text: title"></h4>

                <div>
                    User comment coming soon...
                </div>
            </div>

        </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->

<!--/ko-->

<style>
    .location-detail{
        position: fixed;
        top:100px;
        left: 50%;
        margin-left: -300px;
    }
</style>