<div data-bind="MapControl: {position: 'TOP_LEFT'}, visible: ready">
    <filter-form></filter-form>
</div>
<div data-bind="MapControl: {position: 'TOP_CENTER'}, visible: ready">
    <search></search>
</div>

<div data-bind="MapControl: {position: 'LEFT_CENTER'}, visible: ready">
    <marker-creator></marker-creator>
</div>
<div data-bind="MapControl: {position: 'BOTTOM_CENTER'}, visible: ready">
    <user-location></user-location>
</div>
<div data-bind="MapControl: {position: 'RIGHT_CENTER'}, visible: ready">
    <list-locations></list-locations>
</div>

<map></map>