<div class="well well-sm list-locations" data-bind="css: {'active': viewdetail}">
    <div class="row">


        <div class="col-lg-12  col-sm-12">
            <ul class="result-list" data-bind="foreach: items">
                <li class="clearfix" data-bind="click: $parent.onViewDetail, css: {'active': $parent.selectedItem() == $data}">

                    <a href="#"  data-bind="text: $data.title, attr: { 'class': 'color-level-'+ $data.level.replace(' ', '').toLowerCase()}"></a>
                </li>
            </ul>
        </div>
    </div>

</div>


<!--ko if: viewdetail-->

    <div class="modal-dialog" data-bind="with: selectedItem">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="" data-bind="click: $parent.onClose">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" data-bind="text: title, attr: { 'class': 'color-level-'+ $data.level.replace(/\s/g, "X");}"></h4>
                </a>
            </div>
            <div class="modal-body">
                <img width="32px" height="32px" data-bind="attr:{src: img}" />
                <div class="marker-title" data-bind="text: level"></div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!--/ko-->

