<div class="well well-sm list-locations" data-bind="css: {'active': viewdetail}">
    <div class="">


        <div class="">
            <ul class="result-list" data-bind="foreach: items">
                <li class="clearfix" data-bind="click: $parent.onViewDetail, css: {'active': $parent.selectedItem() == $data}">

                    <a href="#"  data-bind="text: $data.title, attr: { 'class': 'color-level-'+ $data.level.replace(' ', '').toLowerCase()}"></a>
                </li>
            </ul>
        </div>
    </div>

</div>

