/*Start Marker-creator*/
#marker-creator {
    opacity: 0.85;
    width: 250px;
}
form#marker-creator * {
    font-size: 11px !important;
}
#marker-creator:hover {
    opacity: 1
}
#marker-creator .form-group:not(.col-xs-12) {
    margin-bottom: 0;
}
#marker-creator textarea.form-control {
    min-height: 54px;
}
#marker-creator select#level,
.upload-file,
#marker-creator [type="file"],
.upload-file span,
#marker-creator [name="submit"] {
    height: 25px;
    line-height: 25px;
}

#marker-creator select#level {
    padding: 0;
    border-radius: 0;
}
.upload-file {
    position: relative;
}
#marker-creator [type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    width: 100%;
}
.upload-file span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4d90fe;
    z-index: 1;
    color: #fff;
    display: block;
    text-align: center;
}

#marker-creator [name="submit"] {
    background-color: #4d90fe;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
}

/*Start List-locations*/
.list-locations {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    min-height: 400px;
    max-height: 600px;
    width: 250px;
    overflow: auto;
    margin-left: 0;
    padding: 0;
}
.list-locations ul {
    padding: 0;
    margin: 0;
}
.list-locations li {
    list-style: none;
}
.list-locations.active {
    margin-left: 0px;
}
.list-locations li.active a,.list-locations li:hover a {
    color: #4d90fe;
}

.list-locations #comment {
    width: 100%;
}

ul.result-list {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
ul.result-list li {
    padding: 4px 10px 4px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
ul.result-list li:hover,ul.result-list li.active {
    background-color: #f5f5f5;
}
ul.result-list li a {
    list-style: none;
}
.list-locations img {
    float: left;
    width: 32px;
    margin: 0 10px 0 0;
}
/*ul.result-list li a {
    color: #FD9E0A;
}*/
.color-level-notice {
    color: blue;
}
.color-level-warning {
    color: orange;
}
.color-level-emergency {
    color: #ffff00;
}
.color-level-critical {
    color: #10675D;
}
.color-level-highdamage {
    color: red;
}



.controls {
    float: left;
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    float: left;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}